
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f4f9ff;
  color: #222;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0077b6;
  padding: 15px 30px;
}

.logo {
  color: white;
  font-size: 28px;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

#menu-btn {
  display: none;
  background: transparent;
  border: none;
  color: white;
  font-size: 28px;
  cursor: pointer;
}

/* Hero */
.hero {
  height: 90vh;
  background: linear-gradient(rgba(0,0,0,0.4),
              rgba(0,0,0,0.4)),
              url("https://images.unsplash.com/photo-1507525428034-b723cf961d3e")
              center/cover no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.hero-content h2 {
  font-size: 60px;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 20px;
  margin-bottom: 25px;
}

#join-btn {
  padding: 12px 25px;
  border: none;
  background: #00b4d8;
  color: white;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#join-btn:hover {
  background: #0096c7;
}

/* Sections */
section {
  padding: 70px 20px;
  text-align: center;
}

.lessons h2,
.about h2,
.contact h2 {
  margin-bottom: 30px;
  font-size: 36px;
}

/* Cards */
.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background: white;
  padding: 25px;
  width: 250px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-8px);
}

/* Footer */
footer {
  background: #023e8a;
  color: white;
  text-align: center;
  padding: 20px;
}

/* Mobile */
@media (max-width: 768px) {

  .nav-links {
    display: none;
    flex-direction: column;
    background: #0077b6;
    position: absolute;
    top: 70px;
    right: 20px;
    padding: 20px;
    border-radius: 10px;
  }

  .nav-links.show {
    display: flex;
  }

  #menu-btn {
    display: block;
  }

  .hero-content h2 {
    font-size: 40px;
  }
}